/* latin-ext */
@font-face {
  font-family: "Kaushan Script";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/Kaushan_Script/KaushanScript-Regular.ttf) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Kaushan Script";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/Kaushan_Script/KaushanScript-Regular.ttf) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/Montserrat/) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
body,
html {
  font-family: "Montserrat", sans-serif;
}

:root {
  --text-main-third: #95e1d3;
}

.text-ht {
  color: #333;
  font-size: 20px;
  font-weight: 400;
}

.bg-light-grey {
  background-color: #f8f8f8;
}

@media screen and (min-width: 1200px) {
  .text-p-7 {
    padding-inline: 200px !important;
  }
}
.text-hd {
  color: #333;
  font-weight: 700;
  font-size: 25px;
}

.ft-kaushan {
  font-family: "Kaushan Script", cursive;
}

img {
  max-width: 100%;
  display: inline-block;
}

.text-underline {
  position: relative;
}

.text-underline::after {
  content: "";
  position: absolute;
  background-color: red;
  top: 40px;
  left: calc(50% - 30px);
  opacity: 0.5;
  width: 60px;
  height: 2px;
}

body,
html {
  font-family: "Montserrat", sans-serif;
}

.text-c-thd {
  color: var(--text-main-third);
}

.text-c-grey {
  color: #333;
}

.ts-7 {
  font-size: 0.8rem;
}

.about-us .img-section .img-card {
  background-color: #95e1d3;
  position: relative;
}
.about-us .img-section .img-card > img {
  width: 100%;
  z-index: 0;
  transition: all 0.3s ease-out;
}
.about-us .img-section .img-card .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 2;
  background-image: linear-gradient(rgba(243, 129, 129, 0.9), rgba(252, 227, 138, 0.9));
  transition: all 0.3s ease-out;
}
.about-us .img-section .img-card:hover .overlay, .about-us .img-section .img-card:hover > img {
  transform: translate(-10px, -10px);
  opacity: 1;
}

.number-facts {
  background-color: #95e1d3;
}
.number-facts .wrapper {
  background-color: white;
}
.number-facts .fact {
  background-color: #95e1d3;
  flex: 1;
  margin-inline: 0.5px;
}
.number-facts .fact:first-child {
  -webkit-margin-start: 1px;
          margin-inline-start: 1px;
}
.number-facts .fact:last-child {
  -webkit-margin-end: 1px;
          margin-inline-end: 1px;
}
.number-facts .fact h2 {
  font-size: 65px;
  font-weight: 700;
}
.number-facts .fact h3 {
  font-size: 14px;
}

.hero-slider {
  height: 100vh !important;
  background-image: url("../../assets/hero-slider/bg-hero-slider.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.unique-design {
  background-image: url("../../assets/unique-design/bg-unique-design.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

.meet-our-team .img-section .img-card {
  background-color: #95e1d3;
  position: relative;
}
.meet-our-team .img-section .img-card > img {
  width: 100%;
  z-index: 0;
  transition: all 0.3s ease-out;
}
.meet-our-team .img-section .img-card .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 2;
  background-image: linear-gradient(rgba(243, 129, 129, 0.9), rgba(252, 227, 138, 0.9));
  transition: all 0.3s ease-out;
}
.meet-our-team .img-section .img-card:hover .overlay, .meet-our-team .img-section .img-card:hover > img {
  transform: translate(-10px, -10px);
  opacity: 1;
}/*# sourceMappingURL=style.css.map */